html{
    cursor: crosshair;
}
body{
    background-color: rgb(31, 31, 33);
}
#thing{
    display: none;
}
#box{
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -50%);
    background-color: blue;
}
#box:hover{
    opacity: 50%;
}
#wndo{
    cursor: pointer;
}
#wndo.out{
    transition: opacity 1s ease;
    opacity: 0%;
}
#wlcm{
    position: relative;
    top: 30%;
    left: 40%;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 40%;
}
#wc{
    text-align: center;
    position: relative;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: honeydew;
}
#tt{
    text-align: center;
    font-size: 100px;
    position: relative;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: honeydew;
}
#bt{
    font-size: large;
    border-radius: 10px;
    font-family: Geneva;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 70px;
}
#bt:hover{
    opacity: 50%;
}
#tp{
    cursor: pointer;
    background-color: rgb(31, 35, 39);
    position: fixed;
    height: 7%;
    width: 100%;
}
#sc{
    color: azure;
    position: absolute;
    font-size: 50px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#avg{
    color: azure;
    position: absolute;
    font-size: 50px;
    top: 5%;
    left: 10%;
    transform: translate(0%, -50%);
}
#bst{
    color: azure;
    position: absolute;
    font-size: 50px;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
