html{
    cursor: crosshair;
}
body{
    background-color: rgb(31, 31, 33);
}
#thing{
    display: none;
}
#box{
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -50%);
    background-color: blue;
}
#box:hover{
    background-color: rgb(233, 35, 62);
}
#hit{
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
}
#hit.booms{
    animation: boomin 0.3s steps(7) forwards;
}
@keyframes boomin{
    0%{
        background: url(Media/Boom/boom_1.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    14.29% {
        background: url(Media/Boom/boom_2.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      28.57% {
        background: url(Media/Boom/boom_3.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      42.86% {
        background: url(Media/Boom/boom_4.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      57.14% {
        background: url(Media/Boom/boom_5.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      71.43% {
        background: url(Media/Boom/boom_6.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      85.71% {
        background: url(Media/Boom/boom_7.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      100% {
        background: none;
      }
}
#wndo{
    cursor: pointer;
}
#wndo.out{
    transition: opacity 1s ease;
    opacity: 0%;
}
#wlcm{
    position: relative;
    top: 30%;
    left: 40%;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 40%;
}
#wc{
    pointer-events: none;
    text-align: center;
    position: fixed;
    font-size: 2vw;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: honeydew;
}
#tt{
    pointer-events: none;
    text-align: center;
    font-size: 6vw;
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: honeydew;
}
#bt{
    font-size: 1.3vw;
    border-radius: 1vw;
    font-family: Geneva;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2vw;
    width: 5vw;
}
#bt:hover{
    opacity: 50%;
}
#tp{
    cursor: pointer;
    background-color: rgb(31, 35, 39);
    position: fixed;
    height: 4vw;
    width: 100%;
}
#sc{
    color: azure;
    position: fixed;
    font-size: 3vw;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#avg{
    color: azure;
    position: fixed;
    font-size: 3vw;
    top: 1%;
    left: 10%;
    transform: translate(0%, -50%);
}
#bst{
    color: azure;
    position: fixed;
    font-size: 3vw;
    top: 1%;
    left: 80%;
    transform: translate(-50%, -50%);
}
